<div class="modal fade" id="edit-dob" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="editDOBLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-bottom-0 justify-content-end pb-0">
            </div>
            <div class="modal-body d-flex flex-column align-items-center pt-0">
                <h3>Edit Date of birth</h3>
                <form action="" class="w-100" onsubmit="editDOBForm(event);">
                    <!-- <div class="auto-jsCalendar" data-month-format="month YYYY" id="custom-calendar"></div> -->
                    <div class="calendar-container">
                        <div id="custom-calendar"></div>
                        <div class="view-date-container">
                            <div class="heading">
                                <span>Set Date</span>
                            </div>
                            <div class="view-date">
                                <div>
                                    <span id="current-month"></span>
                                    -
                                    <span id="current-date"></span>
                                    -
                                    <span id="current-year"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 d-flex justify-content-center gap-3">
                        <button type="button" class="cancel-btn" id="closeEditDOBModal"
                            data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="submit-btn">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<input type="hidden" class="edit-dob" data-bs-toggle="modal" data-bs-target="#edit-dob" />